# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Models (too large for GitHub, host on Drive instead)
backend/models/*.h5
backend/models/*.pkl

# Data
*.zip
*.csv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/